---
import { getImage } from "astro:assets";
import myBackground from "../assets/header.jpg";

const optimizedBackground = await getImage({
  src: myBackground,
  format: "webp",
});
---

<div class="h-full pl-4 pr-4 pt-4 w-full">
  <a href="/">
    <!-- style={`background-image: url('${optimizedBackground.src}')`}-->
    <div
      style={`background-image: url('${optimizedBackground.src}');`}
      class="bg-cover back relative min-h-[80px] flex items-center bg-gray-300"
    >
      <h1
        class="select-none text-6xl font-bold text-center m-auto p-4 lg:text-7xl text-[10vw] text-gray-100"
      >
        70s Beach Vacation
      </h1>
    </div>
  </a>
</div>
